* {
    margin: 0px;
    padding: 0px;
}

#progress-box {
    width: var(--width);
    height: var(--height);
    border-radius: var(--radius);
    border: 1px solid #f1f0f0;
    overflow: hidden;
}

#progress-box .progress-bar {
    height: 100%;
    width: 0px;
    background-color: var(--bgColor);
    /* animation: anim var(--duration) forwards linear; */
    width: var(--barWidth);
    transition: all var(--barDuration);
    border-radius: inherit;
    position: relative;
}

#progress-box .progress-bar:after {
    content: '';
    pointer-events: none;
    animation: bar 1s infinite linear;
    display: block;
    height: 100%;
    border-radius: inherit;
}

#progress-box .progress-bar.success {
    background-color: #52c41a;
}

#progress-box .progress-bar.success:after {
    content: '';
    display: none;
}

/* @keyframes anim {
    0% {
        width: 0px;
    }

    100% {
        width: var(--width);
    }
} */

@keyframes bar {
    0% {
        width: 0px;
        background-color: rgba(255, 255, 255, 0.4);
    }

    100% {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
    }
}